<!doctype html>

<html lang="es">
	<head>
		<meta charset="utf-8">

		<title>LABoral QR Generator</title>
		<meta name="description" content="Laboral themed QR generator">
		<meta name="author" content="David Pello">

        <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

		<!--[if lt IE 9]>
	  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	  <![endif]-->
	</head>

	<body>
		<div id="header" class="header">
            <img src="{{ url_for('static', filename='logo.png') }}", alt="LABORAL" />
			<h1> QR Generator </h1>
		</div>
		<div id="input">
			<form action="/generate" method="post">
				Texto: <input type="text" name="texto" /> 
				<input type="submit" value="Generar" />
			</form>
		</div>
		<div id="footer" class="footer">
			David Pello 2015
		</div>
</body>
</html>
